*.pyc
client_secret.json
sessions
.credentials
*.log
*.log.*
*.crt
*.key
*.pem
weather.cache.json
weather.cache.json.txt
settings.db
*.cache
Netremote.py
mqtt.py
piclock
CalendarCredentials2.py
CalendarCredentials.py
mplayer
sslconfig.txt
